  
  <h2>ადგილები ყველა ვაგონში:</h2>

<div *ngFor="let vagon of seatsByVagon" class="vagon-block">
  <h3>{{ vagon.vagonName }}</h3>
  <div class="seats-container" >
    <div class="seat-card" 
      *ngFor="let seat of vagon.seats" 
      [class.occupied]="seat.isOccupied"
      [class.selected]="selectedSeat?.seatId === seat.seatId"
      (click)="!seat.isOccupied && onSeatClick(seat)"
    >
      <p>ადგილი: {{ seat.number }}</p>
      <p>ფასი: {{ seat.price }} ₾</p>
      <p *ngIf="seat.isOccupied" class="occupied">დაიჯავშნა</p>
      <p *ngIf="!seat.isOccupied" class="available">თავისუფალია</p>
    </div>
  </div>
</div>

<div class="info-container">
<div *ngIf="selectedSeats">
  <div class="seat-and-price">
  <h3>არჩეული ადგილები:</h3>
  <ul>
    <li *ngFor="let seat of selectedSeats">
      №{{ seat.number }} – {{ seat.price }} ₾
    </li>
  </ul>
  <p><strong> საერთო ღირებულება: {{ totalPrice }} ₾</strong></p>
</div>
</div>
  

<div class="form-section" *ngIf="people.length > 0">
    <h3>მგზავრის ინფორმაცია</h3>
    <div *ngFor="let people of people; index as i">
      
      <form #passengerForm="ngForm">
        <label>სახელი:</label>
        <input type="text" [(ngModel)]="passengerFirstName" name="firstName" required />
  
        <label>გვარი:</label>
        <input type="text" [(ngModel)]="passengerLastName" name="lastName" required />
  
        <label>პირადი ნომერი:</label>
        <input type="text" [(ngModel)]="passengerId" name="personalId" required />
  
        <label>ტელეფონი:</label>
        <input type="text" [(ngModel)]="passengerPhone" name="phone" required />
  
        <label>ელ. ფოსტა:</label>
        <input type="email" [(ngModel)]="passengerEmail" name="email" required />
  
        <button type="button" class="book-btn" (click)="bookTicket()" [disabled]="!passengerForm.form.valid">
          ბილეთის დაჯავშნა
        </button>
        <button (click)="clearBookedSeats()" class="clear-btn">
          დაჯავშნილი ადგილების წაშლა
        </button>
      </form>
    </div>
</div>
</div>








  


