
<form (ngSubmit)="onSearch()">
    <label>საიდან:
      <select [(ngModel)]="from" name="from" required>
        <option *ngFor="let station of stations" [value]="station.name">{{ station.name }}</option>
      </select>
    </label>
  
    <label>სად:
      <select [(ngModel)]="to" name="to" required>
        <option *ngFor="let station of stations" [value]="station.name">{{ station.name }}</option>
      </select>
    </label>
  
    <label>თარიღი:
      <input type="date" [(ngModel)]="date" name="date" required />
    </label>
  
    <label>მგზავრები:
      <input type="number" [(ngModel)]="passengers" name="passengers" min="1" />
    </label>
  
    <button type="submit">ძებნა</button>
  </form>
  
  <hr />


  <div class="arrange-cont" *ngIf="trains.length > 0">
    <h3>ნაპოვნი განრიგები:</h3>
    <div class="train-list">
      <div *ngFor="let train of trains" class="train-card">
        <p class="train-number">მატარებლის № {{ train.number }}</p>
        <p class="route">{{ train.from }} → {{ train.to }}</p>
        <p class="departure">გასვლის დრო: {{ train.departure }}</p>
        <p class="arrival">ჩასვლის დრო: {{ train.arrive }}</p>

        <div *ngIf="train.vagons?.length > 0" class="vagon-buttons">
          <p><strong>ვაგონები:</strong></p>
          <div class="vagon-btn-list">
            <button *ngFor="let vagon of train.vagons" class="vagon-btn" [routerLink]="['/booking', train.id,vagon.name]"
            (click)="logTrainVagons(train)">
              {{ vagon.name }}  {{ vagon.class }}
            </button>
          </div>
        </div>
         <!-- <button [routerLink]="['/booking', train.id]">აირჩიე</button> -->
      </div>
    </div>
  </div>
  