

body{
    :host{
        display: block;
        min-height: 100vh;
        background-image: url('assets/pexels-photospublic-1181202.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 40px 20px;
    }
   
  }